/* TEMPORARY JE NANTI STANDARDIZE DKT STYLE.CSS JE */
:root {
    --main-color: #2F4156;
    --secondary-color: whitesmoke;
    --text-color: #FFFFFF;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 #2F4156;
}

.sidebar .nav-link {
    color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem 1rem;
}

.sidebar .nav-link:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar .nav-link.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar .nav-link i {
    font-size: 1.2rem;
}

.dropdown-menu {
    background-color: #343a40;
}

[role="main"] {
    padding-top: 48px;
}

/* Summary Cards */
.card.floating-card {
    background-color: var(--secondary-color); /* Light background */
    color: var(--main-color); /* Dark text */
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Transition all properties */
    margin-bottom: 20px;
    height: 100%;
}

.card.floating-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: var(--main-color); /* Swap to dark background */
    color: var(--secondary-color); /* Swap to light text */
}

.card.floating-card .card-body {
    padding: 20px;
}

.card.floating-card .card-title {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: var(--main-color); /* Dark text */
}

.card.floating-card:hover .card-title {
    color: var(--secondary-color); /* Light text on hover */
}

.card.floating-card .card-text.fs-3 {
    font-size: 1.75rem !important;
    font-weight: 600;
    color: var(--main-color); /* Dark text */
}

.card.floating-card:hover .card-text.fs-3 {
    color: var(--secondary-color); /* Light text on hover */
}

/* Card Title Wrapper */
.card-title-wrapper {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between title and icon */
    margin-bottom: 10px;
}

/* Icon Styling */
.card-title-wrapper i {
    font-size: 1.2rem;
    color: var(--main-color); /* Match the title color */
    margin-top: -9px;
}

/* Hover Effect for Icon */
.card.floating-card:hover .card-title-wrapper i {
    color: var(--secondary-color); /* Reverse color on hover */
}



@media (max-width: 767.98px) {
    .sidebar {
        top: 56px;
    }
}
