body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
}

.accordion-button:not(.collapsed) {
    background-color: #f8f9fa;
    color: #000;
}

.accordion-button {
    background-color: #fff;
    color: #000;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}
